<?xml version='1.0' encoding='utf-8'?>
<Server port="8006"
        shutdown="SHUTDOWN">
	<Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
	<Listener className="org.apache.catalina.core.AprLifecycleListener"
	          SSLEngine="on"/>
	<Listener className="org.apache.catalina.core.JasperListener"/>
	<Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
	<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
	<Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>
	<GlobalNamingResources>
		<Resource name="UserDatabase"
		          auth="Container"
		          type="org.apache.catalina.UserDatabase"
		          description="User database that can be updated and saved"
		          factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
		          pathname="conf/tomcat-users.xml"/>
	</GlobalNamingResources>
	<Service name="Catalina">
		<!--<Executor name="tomcatThreadPool"        # 配置TOMCAT共享线程池，NAME为名称　-->
		<!--namePrefix="HTTP-8088-exec-"    # 线程的名字前缀，用于标记线程名称-->
		<!--prestartminSpareThreads="true"  # executor启动时，是否开启最小的线程数-->
		<!--maxThreads="5000"               # 允许的最大线程池里的线程数量，默认是200，大的并发应该设置的高一些，这里设置可以支持到5000并发-->
		<!--maxQueueSize="100"              # 任务队列上限-->
		<!--minSpareThreads="50"            # 最小的保持活跃的线程数量，默认是25.这个要根据负载情况自行调整了。太小了就影响反应速度，太大了白白占用资源-->
		<!--maxIdleTime="10000"             # 超过最小活跃线程数量的线程，如果空闲时间超过这个设置后，会被关别。默认是1分钟。-->
		<Executor name="tomcatThreadPool"
		          namePrefix="catalina-exec-81-"
		          prestartminSpareThreads="true"
		          maxThreads="5000"
		          maxQueueSize="400"
		          minSpareThreads="90"
		          maxIdleTime="10000"
		/>
		<Connector port="81"
		           protocol="org.apache.coyote.http11.Http11NioProtocol"
		           connectionTimeout="20000"
		           redirectPort="8443"
		           acceptCount="5000"
		           executor="tomcatThreadPool"
		           maxHttpHeaderSize="65536"
		           debug="0"
		           disableUploadTimeout="true"
		           useBodyEncodingForURI="true"
		           enableLookups="false"
		           URIEncoding="UTF-8"/>
		<!--		<Connector port="8443"-->
		<!--		           protocol="org.apache.coyote.http11.Http11Protocol"-->
		<!--		           maxThreads="150"-->
		<!--		           SSLEnabled="true"-->
		<!--		           scheme="https"-->
		<!--		           secure="true"-->
		<!--		           clientAuth="false"-->
		<!--		           sslProtocol="TLS"/>-->
		<!--	如果没有证书注释掉下面这段	-->
		<Connector port="8443"
		           protocol="org.apache.coyote.http11.Http11Protocol"
		           SSLEnabled="true"
		           scheme="https"
		           secure="true"
		           keystoreFile="cert/1826944_www.zchpww.cn.pfx"
		           keystoreType="PKCS12"
		           keystorePass="AD5BLRhq"
		           clientAuth="false"
		           SSLProtocol="TLSv1+TLSv1.1+TLSv1.2"
		           ciphers="TLS_RSA_WITH_AES_128_CBC_SHA,TLS_RSA_WITH_AES_256_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256,TLS_RSA_WITH_AES_128_CBC_SHA256,TLS_RSA_WITH_AES_256_CBC_SHA256"/>
		<!--<Connector port="8010"-->
		<!--protocol="AJP/1.3"-->
		<!--redirectPort="8443"/>-->
		<Engine name="Catalina"
		        defaultHost="localhost">
			<Realm className="org.apache.catalina.realm.LockOutRealm">
				<Realm className="org.apache.catalina.realm.UserDatabaseRealm"
				       resourceName="UserDatabase"/>
			</Realm>
			<Host name="localhost"
			      appBase=""
			      unpackWARs="true"
			      autoDeploy="true">
				<Valve className="org.apache.catalina.valves.AccessLogValve"
				       directory="logs"
				       prefix="localhost_access_log."
				       suffix=".txt"
				       pattern="%h %l %u %t &quot;%r&quot; %s %b"/>
				<Context crossContext="true"
				         docBase=""
				         path="F:\jetbrainsidea\prj-aaaaxb\singbon-one-card\ic_card\target\ic_card"
				         reloadable="false"/>
			</Host>
		</Engine>
	</Service>
</Server>